---
layout: base/base.liquid
---

<div class="photos scrollview"
     data-controller="photos"
     data-action="scroll->photos#onScroll
                  resize@window->photos#onScroll
                  resize@window->photos#resizeThumbnails
                  popstate@window->photos#onPopState
                  photos:historyPushState@document->photos#historyPushState
                  photos:selectThumbnail@document->photos#selectThumbnail
                  photos:selectNextThumbnail@document->photos#selectNextThumbnail
                  photos:selectPreviousThumbnail@document->photos#selectPreviousThumbnail
                  photosCarousel:hide@document->photos#onCarouselClosed
                  timeline:yearSelected@document->photos#onYearSelected
                  thumbnail:loaded@document->photos#loadThumbnails"
>
  {% include './title/title.liquid' %}
  <div class="photos__grid" data-photos-target="grid"></div>
</div>

{% include 'thumbnail/thumbnail-template.liquid' %}
{% include 'age-restriction/age-restriction-template.liquid' %}
{% include 'carousel/carousel.liquid' %}
{% include 'header-nav/header-nav.liquid' hasTimeline:true %}
{% include 'dialog/download/download.liquid' %}
{% include 'dialog/share/share.liquid' %}
{% include 'dialog/age-restriction/age-restriction.liquid' %}
