.textarea-wrapper {
  display: block;
  position: relative;
}

* + .textarea-wrapper {
  margin-top: 2rem;
}

.textarea-wrapper__label {
  display: block;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1rem;
  color: $grey;
  margin-bottom: 0.5rem;
}

.textarea-wrapper__textarea {
  @include font-body;
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  font-size: rem(15px);
  line-height: 1.5rem;
  border-radius: 0.25rem;
  resize: vertical;
  transition: transform 0.6s $ease-out-expo, opacity 0.3s $ease-out-expo, background-color 0.3s $ease-out-expo,
    box-shadow 0.3s $ease-out-expo;

  &::placeholder {
    line-height: inherit;
    color: $grey;
    text-indent: 0;
  }

  .theme--light & {
    background-color: $light-primary;
    color: $dark-base;
    box-shadow: 0px 0px 0px 1px rgba($dark-base, 0.08) inset;
  }

  .theme--dark & {
    background-color: $dark-primary;
    color: $light-base;
    box-shadow: 0px 0px 0px 1px rgba($light-base, 0.16) inset;
  }

  &:focus {
    .theme--light & {
      background-color: $light-base;
    }

    .theme--dark & {
      background-color: $dark-base;
      box-shadow: 0px 0px 0px 1px rgba($light-base, 0.24) inset;
    }
  }
}

.textarea-wrapper__hint {
  color: $grey;
}
