---
layout: article/article.liquid
---

{% if locale == "en" %} {% assign donators = donators-en %} {% endif %}
{% if locale == "he" %} {% assign donators = donators-he %} {% endif %}
{% assign donators_data = donators | transform_name  %}


<h1 class="donors__title">{{ lang[locale].donors }}</h1>
<div class="list">
  {% for donator in donators_data %}
    {% assign donator_name = donator.name_transformed %}
    <a class="list__item" href="/{{ locale }}/photos/?donor={{ donator.name | url_encode }}">{{ donator_name }}</a>
  {% endfor %}
</div>
