---
layout: auth/auth.liquid
---

<div class="reset-password-wrapper" data-controller="scrollview" data-action="scroll->scrollview#handleScroll">
  <div class="reset-password" data-controller="reset-password">
    <h1 class="reset-password__title" data-controller="page-title">{{ lang[locale].password_forgot }}</h1>
    <p class="lead reset-password__content">{{ lang[locale].password_forgot_details }}</p>

    <form class="reset-password__form" data-reset-password-target="form">
      {% include input/input.liquid 
                  type:"text" 
                  name:"email"
                  label: lang[locale].email
                  placeholder: lang[locale].email_placeholder
                  stimulus_target:'data-reset-password-target="email"' 
      %}
      <button class="button button--primary reset-password__submit" 
              data-reset-password-target="submitButton"
              data-action="click->reset-password#submit"
      >{{ lang[locale].password_reset }}</button>
    </form>
  </div>
</div>
