---
layout: auth/auth.liquid
---

<div class="reset-password-wrapper" data-controller="scrollview" data-action="scroll->scrollview#handleScroll">
  <div class="reset-password" data-controller="reset-password">
    <h2 class="reset-password__title">{{ lang[locale].password_forgot }}</h2>
    <p class="reset-password__content small">{{ lang[locale].password_forgot_details }}</p>

    <form class="reset-password__form" data-reset-password-target="form">
      {% include input/input.liquid 
                  type:"text" 
                  name:"email"
                  label:lang[locale].username_or_email
                  stimulus_target:'data-reset-password-target="email"' 
      %}
      <button class="button button--primary reset-password__submit" 
              data-reset-password-target="submitButton"
              data-action="click->reset-password#submit"
      >{{ lang[locale].reset_password }}</button>
    </form>
  </div>
</div>
