.signin-wrapper {
  position: relative;
  left: rem(480px);
  width: calc(100% - 480px);
  height: 100%;
  box-sizing: border-box;
  padding: 0 rem(32px);

  @media screen and (max-width: ($breakpoint-desktop - 1px)) {
    left: 0;
    width: 100%;
  }

  @media screen and (max-width: ($breakpoint-tablet - 1px)) {
    padding: 0 rem(20px);
  }
}

.signin {
  width: 100%;
  margin: 0 auto;
  max-width: rem(400px);
  padding: 6rem 0;
}

.signin__links {
  margin-top: rem(12px);
  margin-bottom: rem(40px);
}

.signin__links--top {
  margin-top: rem(24px);
  margin-bottom: rem(40px);
}
