.profile-edit__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(24px);
}

.profile-edit__grid .input-wrapper {
  margin-top: 0;
}

.profile-edit__actions {
  margin-top: 2.5rem;
}
