---
layout: article/article.liquid
---

<h1 class="article__content__title" data-controller="page-title">{{ lang[locale].upload }}</h1>
<div data-controller="profile-upload" class="profile-upload" data-action="load->profile-upload#onPopState">
	<div class="profile-upload__lead" data-profile-upload-target="lead">{{ lang[locale].upload_lead | markdownify }}</div>
	  
	<div class="article__content__section" data-profile-upload-target="formWrapper">
        <h4 class="profile-upload__form__title">{{ lang[locale].upload_form_title }}</h4>
	    <p>{{ lang[locale].upload_form_blurb }}</p>
		
		<div class="profile-upload__form" data-profile-upload-target="uploadForm"></div>
</div>



       