.profile-upload__file-selector {
  display: flex;
  padding-top: 1.5rem;
}

.profile-upload__file-selector__input-wrapper {
  position: relative;
}

.profile-upload__file-selector__input {
  position: absolute;
  visibility: hidden;
}

.profile-upload__file-selector__label {
  padding-left: 1rem;
}

.profile-upload__file-selector h5 {
  margin: 0 0 0.125rem 0;
}

.profile-upload__file-selector p {
  margin: 0;
}

.profile-upload__file-selector .small ~ .small {
  margin-top: 1rem;
}

.profile-upload h3 {
  margin-top: 3rem;
  margin-bottom: 0;
}

.profile-upload__selected-files {
  display: none;
  margin-top: 2rem;
  border-radius: rem(4px);
  max-height: rem(160px);
  overflow: auto;

  .theme--light & {
    border: 1px solid $light-secondary;
  }
}

.profile-upload__selected-file {
  display: flex;
  padding: 0.5rem;
  box-sizing: border-box;
  align-items: center;

  .theme--light &:not(:last-child) {
    border-bottom: 1px solid rgba($dark-base, 0.1);
  }

  .theme--dark &:not(:last-child) {
    border-bottom: 1px solid rgba($light-base, 0.1);
  }

  .file-preview {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 0 0 1px rgba($dark-base, 0.1);
  }

  .file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $grey;
    padding-left: 1rem;
  }
}

.profile-upload__selected-files.is-visible {
  display: block;
}
