.donors {
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  text-decoration: none;
  @include font-heading-demi();
  font-size: rem(20px);
  line-height: rem(28px);
}

.list__item {
  transition: color 0.3s $ease-out-expo;
  text-decoration: none;

  .theme--light & {
    color: $dark-base;
  }

  .theme--dark & {
    color: $light-base;
  }

  &:hover {
    color: $accent;
  }
}
