---
layout: profile/profile.liquid
---

<h2 class="profile-content__title">{{ title }}</h2>
<div class="profile-settings" data-controller="profile-settings">
  <h4>{{ lang[locale].appearance }}</h4>
  <div class="profile-settings__row">
    <div class="profile-settings__row-label">{{ lang[locale].darkmode }}</div>
    <div 
      data-action="click->profile-settings#toggleTheme theme:toggleTheme@document->theme#toggleTheme"
      class="toggle-switch profile-settings__dark-mode-switch">
    </div>
  </div>
</div>