.styled-links {
  a {
    color: $accent;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.6s $ease-out-expo;

    &:hover {
      border-bottom: 1px solid $accent;
    }
  }
}
