.file-selector {
  padding-top: 1.5rem;
}

.file-selector__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.file-selector__input {
  position: absolute;
  visibility: hidden;
}

.file-selector__label {
  padding-left: 1rem;

  .h5 {
    margin-bottom: 0;
  }
}

.file-selector__selected-files {
  margin-top: 2rem;
  border-radius: rem(4px);

  .theme--light & {
    border: 1px solid $light-secondary;
  }

  .theme--dark & {
    border: 1px solid $dark-secondary;
  }
}

.file-selector-item {
  position: relative;
}

.file-selector-item__wrapper {
  display: flex;
  padding: 0.5rem;
  box-sizing: border-box;
  align-items: center;

  transition: background-color 0.4s $ease-out-expo;

  .theme--light &:not(:last-child) {
    border-bottom: 1px solid rgba($dark-base, 0.1);
  }

  .theme--dark &:not(:last-child) {
    border-bottom: 1px solid rgba($light-base, 0.1);
  }

  .theme--light &:hover {
    background-color: rgba($dark-base, 0.04);
  }

  .theme--dark &:hover {
    background-color: rgba($light-base, 0.04);
  }
}

.file-selector-item__preview {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 0 1px rgba($dark-base, 0.1);
}

.file-selector-item__label-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $grey;
  padding-left: 1rem;
  flex: 1;
}

.file-selector-item__percentage {
  padding-left: 0.5rem;
}

[data-status="4"] .file-selector-item__percentage {
  display: none;
}

.file-selector-item__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.25rem;
  background-color: $accent;
  width: 0;
}

.file-selector-item__actions {
  display: flex;
  gap: 0.25rem;
}

.file-selector-item__actions > * {
  display: none;
}

// if upload is completed, hide progress bar
[data-status="4"] .file-selector-item__progress {
  display: none;
}

// if upload is completed, show delete
[data-status="4"] .file-selector-item__remove {
  display: block;
}

// if error, show retry and delete buttons too
[data-status="3"] .file-selector-item__remove {
  display: block;
}
[data-status="3"] .file-selector-item__retry {
  display: block;
}
[data-status="3"] .file-selector-item__progress {
  display: block;
  width: 100%;
  background-color: $accent;
}
